<div class="left-sidebar">
    <a routerLink="/home" routerLinkActive="active">
        <img src="logo.jpg" class="i" alt="logo PFE PFA BOOK" class="logo">
    </a>
    

    <div class="wrap-input-18">
        <div class="search">
            <div>
                <input type="text" placeholder="Search . . .">
            </div>
        </div>
    </div>

    <div class="icon-container">
        <a routerLink="/login" routerLinkActive="active">
            <i class="fa fa-user-circle icon" data-tooltip="Account"></i>
        </a>
         
        <i class="fa-regular fa-heart icon" data-tooltip="Favorite"></i>
        <a routerLink="/help" routerLinkActive="active">
            <i class="fa-solid fa-circle-question icon" data-tooltip="Help"></i>
          </a>
          
        <i class="fa-solid fa-right-from-bracket icon" data-tooltip="Logout"></i>
    </div>
</div>
<router-outlet></router-outlet>
